html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
 display: flex;
 background-color: #C41815;
 margin: 0; 
}

main {
    flex: 1;
    align-items: center;
    flex-direction: column;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 1;
    font-family: 'Raleway', sans-serif;
    font-variant-ligatures: none;
    text-align: center;
    text-anchor: middle;
}

header {
    background-color: #875ECA;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    height: 287%;
    
}

header > ul {
    justify-content: space-evenly;
}

header > ul > li {
    list-style-type: none;
    padding: 0.4em;
    font-size: 1.6em;
}

header > ul > li > a {
    text-decoration: none;
    color: #D9C2FE;
}

ul {
    margin: 0;
}

section {
    margin: 0 auto;
    width: 80%;
    height: 100%;
}

footer {
background-color: mediumblue;
height: 11.6%
}

a {
    color: blue;
}

a:hover {
    color: mediumblue;
}

.bild {
    width: 200px;
    height: 200px;
}

@media screen and (max-width: 600px) {
    header>ul {
        flex-direction: column;
        align-items: center;
    }
}